<div class="article article--default">
  <div class="inner">
    <div class="article__image">
      <a href="{{ data.url }}">
        <img
          src="{{ data.image | img_url: '420x420', crop: 'center' }}"
          srcset="{{ data.image | img_url: '840x840', crop: 'center' }} 2x"
          alt="{{ data.image.alt | escape }}"
        >
      </a>
    </div>
    <div class="article__tags">
      {% for tag in data.tags %}
        <a href="/blogs/bounce-blog/tagged/{{ tag | handleize }}">
          {{- tag -}}
        </a>
        {%- if forloop.last != true %}, {% endif %}
      {% endfor %}
    </div>
    <div class="article__heading">
      <h2 class="heading--five">
        <a href="{{ data.url }}">
          {{ data.title }}
        </a>
      </h2>
    </div>
    <div class="article__excerpt">
      <p>{{ data.content | truncatewords: 17, '...' | strip_html }}</p>
    </div>
    <div class="article__link">
      <a href="{{ data.url }}">Read More</a>
    </div>
  </div>
</div>
