{% capture has_subs %}
  {% for block in section.blocks %}
    {{ block.settings.top_level_nav | append:' ' }}
  {% endfor %}
{% endcapture %}

<section class="mobile-menu">
  <div class="container">
    <div class="mobile-menu__wrap">
      <div class="mobile-menu__inner">
        <div class="mobile-menu__front">
          <nav>
            <ul class="list-reset">
              {% for link in linklists[nav].links %}
                <li
                  class="{% if has_subs contains link.title %}has-children {% endif %}top-level"
                >
                  <a
                    class="d-flex align-center justify-between {% if has_subs contains link.title %}go-to-sub{% endif %}"
                    href="{{ link.url }}"
                    data-title="{{ link.title | handleize }}"
                  >
                    <span>
                      {{ link.title }}
                    </span>
                  </a>
                </li>
              {% endfor %}
              <li class="top-level">
                <a
                  class="d-flex align-center justify-between"
                  href="/account"
                  data-title="Account"
                >
                  <span> Account </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        {% for link in linklists[nav].links %}
          <div class="mobile-menu__back" data-title="{{ link.title | handleize }}">
            {% for block in section.blocks %}
              {% if block.settings.top_level_nav == link.title %}
                <div class="mobile-menu__sub">
                  <div class="sub__heading d-flex justify-center">
                    <button class="back d-flex align-center">
                      <img src="{{ 'icon-arrow-right--black.svg' | asset_url }}" alt="">
                      <span>Back</span>
                    </button>
                    <h3 class="heading--five">
                      {{ link.title }}
                    </h3>
                  </div>
                  {% if block.type == 'sub_products' %}
                    <div class="mobile-menu__products">
                      <div class="products__list d-flex justify-between">
                        {% for product in block.settings.product_list %}
                          {% render 'product-card-horizontal', data: product %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                  <div class="mobile-menu__links">
                    <div class="inner">
                      <div class="menu-head">
                        <h4>
                          {{ block.settings.menu_title }}
                        </h4>
                      </div>
                      <ul class="list-reset">
                        {% for link in linklists[block.settings.menu].links %}
                          <li>
                            <a href="{{ link.url }}">
                              {{ link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                      {% if block.settings.show_social %}
                          {% render 'social-icons' %}
                      {% endif %}
                      {% if block.settings.cta_url != blank %}
                        <a
                          href="{{ block.settings.cta_url }}"
                          {% if block.settings.cta_onclick != blank %}
                            onclick="{{ block.settings.cta_onclick }}"
                          {% endif %}
                          class="mobile-menu__cta d-flex align-center justify-between"
                        >
                          <div class="copy">
                            <span>
                              {{ block.settings.cta_title }}
                            </span>
                            <p>{{ block.settings.cta_copy }}</p>
                          </div>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
