{% render 'collection-hero' %}

<section class="collection__wrap">
  <div class="container container--md d-flex justify-between">
    <div class="collection__sidebar">
      <div class="collection__mobile d-flex align-center">
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting"></div>
        <div class="boost-pfs-filter-tree-mobile-button"></div>
      </div>
      
      <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v"></div>
    </div>
    <div class="collection__list">
      <div class="collection__header d-flex justify-between align-center">
        <div class="coll-count">
          <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count">
            <span class="boost-pfs-filter-total-product"></span>
          </div>
        </div>
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting"></div>
      </div>
      <div class="boost-pfs-filter-products d-flex">
        {% paginate collection.products by 12 %}
          {% for product in collection.products %}
            {% render 'default-product', data: product, img_size: '280x280', img_size_2x: '560x560' %}
          {% endfor %}
        {% endpaginate %}
      </div>
    </div>
    <div class="collection__pagination">
      <div class="boost-pfs-filter-bottom-pagination"></div>
    </div>
  </div>
</section>

<script>   
  // Declare boostPFSThemeConfig
  var boostPFSThemeConfig = {     
      label: {       
        sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},       
        sorting_best_selling: {% assign temp = collection.sort_options[1].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},       
        sorting_manual: {% assign temp = collection.sort_options[0].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Featured" {% endunless %},       
        sorting_title_ascending: {% assign temp = collection.sort_options[2].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},       
        sorting_title_descending: {% assign temp = collection.sort_options[3].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},       
        sorting_price_ascending: {% assign temp = collection.sort_options[4].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},       
        sorting_price_descending: {% assign temp = collection.sort_options[5].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},       
        sorting_date_ascending: {% assign temp = collection.sort_options[6].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},       
        sorting_date_descending: {% assign temp = collection.sort_options[7].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},       
        sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Relevance" {% endunless %},        
        sale: {{ 'products.product.on_sale' | t | json }},       
        sale_price: {{ 'products.product.sale_price' | t | json }},       
        sold_out: {{ 'products.product.sold_out' | t | json }},       
        vendor: {{ 'products.product.vendor' | t |json }},       
        regular_price: {{ 'products.product.regular_price' | t | json }},       
        items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},       
        items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},       
        current_page: {{ 'general.pagination.current_page' | t | json }}, 
      },     
      custom: {       
        // Add custom value here  
        products_per_page: 12,   
        product_grid_class: '',
        show_sorting: true,
        show_sort_by: true
      }   
    };// Declare Templates
  var boostPFSTemplate = {
      'soldOutClass': ' sold-out',
      'saleClass': ' on-sale',
      'soldOutLabelHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' %},
      'saleLabelHtml': {% render 'boost-pfs-filter-html', layout: 'saleLabelHtml' %},
      'tagLabelHtml': {% render 'boost-pfs-filter-html', layout: 'tagLabelHtml' %},
      'vendorHtml': {% render 'boost-pfs-filter-html', layout: 'vendorHtml' %},
      // Grid Template
      'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
      // For List View
      // List Template
      'productListItemHtml': {% render 'boost-pfs-filter-html', layout: 'productListItemHtml' %},
      // End For List View
      // Pagination Template
      'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
      'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
      'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
      'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
      'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
      'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
      'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
      'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},
      // Sorting Template
      'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
      // Show Limit Template
      'showLimitHtml': {% render 'boost-pfs-filter-html', layout: 'showLimitHtml' %},
      // Breadcrumb Template
      'breadcrumbHtml': {% render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' %},
      'breadcrumbDivider': {% render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' %},
      'breadcrumbItemLink': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' %},
      'breadcrumbItemSelected': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' %},
  };
  </script>