<section
  class="cta-chart section-block pad-top--{{  section.settings.padding_top }} pad-bottom--{{  section.settings.padding_bottom }} pad-top__mobile--{{  section.settings.padding_top-mobile }} pad-bottom__mobile--{{  section.settings.padding_bottom-mobile }} background--{{ section.settings.background }}"
  id="cta-chart--{{ section.id }}"
>
  {% render 'arch', color: section.settings.background %}
  <div class="container container--sm">
    <div class="cta-chart__cta align--{{ section.settings.position }} d-flex justify-between align-center">
      <div class="cta__image">
        <img
          loading="lazy"
          src="{{ section.settings.image | img_url: '350x350' }}"
          srcset="{{ section.settings.image | img_url: '700x700' }} 2x"
          alt="{{ section.settings.image.alt | escape }}"
        >
      </div>
      <div class="cta__copy">
        {% if section.settings.title != blank %}
          {% render 'dynamic-heading',
            level: section.settings.heading_level,
            title: section.settings.title,
            classList: section.settings.heading_level_display
          %}
        {% endif %}
        {{ section.settings.copy }}
        {% if section.settings.btn_url != blank and section.settings.btn_copy != blank %}
          <div class="actions">
            <a href="{{ section.settings.btn_url }}" class="btn btn--solid btn--arrow btn--xl">
              {{ section.settings.btn_copy }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="cta-chart__chart cta-chart__chart--desktop">
      {% render 'dynamic-heading',
        level: section.settings.chart_heading_level,
        title: section.settings.chart_title,
        classList: 'heading--four text-center'
      %}
      <div class="chart{% if section.blocks.size > 6 %} chart--overflow{% endif %}">
        {% for block in section.blocks %}
          <div class="chart__row{% if forloop.index > 6 %} chart__row--hidden{% endif %} {% if forloop.index == 6 %}chart__row--opacity{% endif %} d-flex align-center justify-between">
            <div class="label">{{ forloop.index }}. {{ block.settings.title }}</div>
            <div class="value">
              {{ block.settings.copy }}
            </div>
          </div>
        {% endfor %}
        {% if section.blocks.size > 6 -%}
          <div class="view-more text-center">
            <button class="text-center">View More Benefits</button>
          </div>
        {%- endif %}
      </div>
    </div>
    <div class="cta-chart__chart cta-chart__chart--mobile">
      {% render 'dynamic-heading',
        level: section.settings.chart_heading_level,
        title: section.settings.chart_title,
        classList: 'heading--four text-center'
      %}

      <div class="chart">
        {% for block in section.blocks %}
          <div class="chart__row ">
            <div {{ block.shopify_attributes }} class="accordion__group">
              <button class="accordion__heading" data-image="image-{{forloop.index}}">
                {% assign title = forloop.index | append: '. ' | append: block.settings.title %}
                {% render 'dynamic-heading',
                  level: block.settings.heading_level,
                  title: title,
                  classList: '{{block.settings.heading_level_display}} label'
                %}
              </button>
              <div class="accordion__copy">
                <div class="value">
                  {{ block.settings.copy }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% if section.settings['padding_bottom-mobile'] == 'never-going-to-hit'
  or section.settings['padding_top-mobile'] == 'never-going-to-hit'
%}
  <style>
    @media(max-width: 768px) {
      #cta-chart--{{ section.id }} {
        padding-top: {{ section.settings.padding_top-mobile }}px !important;
        padding-bottom: {{ section.settings.padding_bottom-mobile }}px !important;
      }
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "CTA Chart",
  "settings": [
    {
      "id": "top_arch",
      "type": "checkbox",
      "label": "Top Arch?"
    },
    {
      "id": "bottom_arch",
      "type": "checkbox",
      "label": "Bottom Arch?"
    },
    {
      "id": "background",
      "type": "select",
      "options": [
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "white",
      "label": "Background Color"
    },
    {
      "id": "padding_top",
      "type": "select",
      "label": "Padding Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom",
      "type": "select",
      "label": "Padding Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_top-mobile",
      "type": "select",
      "label": "Padding Top - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom-mobile",
      "type": "select",
      "label": "Padding Bottom - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "position",
      "type": "select",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "left",
      "label": "Image Position"
    },
    {
      "type": "select",
      "id": "heading_level",
      "label": "Heading Level",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_level_display",
      "label": "Heading Level - Display",
      "options": [
        {
          "value": "",
          "label": "Natural"
        },
        {
          "value": "heading--one",
          "label": "H1"
        },
        {
          "value": "heading--two",
          "label": "H2"
        },
        {
          "value": "heading--three",
          "label": "H3"
        },
        {
          "value": "heading--four",
          "label": "H4"
        },
        {
          "value": "heading--five",
          "label": "H5"
        },
        {
          "value": "heading--six",
          "label": "H6"
        }
      ],
      "default": "heading--three"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "copy",
      "type": "richtext",
      "label": "Copy"
    },
    {
      "id": "btn_url",
      "type": "url",
      "label": "Button URL"
    },
    {
      "id": "btn_copy",
      "type": "text",
      "label": "Button Copy"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image",
      "info": "700 x 700px"
    },
    {
      "id": "chart_title",
      "type": "text",
      "label": "Chart Title"
    },
    {
      "type": "select",
      "id": "chart_heading_level",
      "label": "Chart Heading Level",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h3"
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "type": "select",
          "id": "heading_level",
          "label": "Heading Level",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "select",
          "id": "heading_level_display",
          "label": "Heading Level - Display",
          "options": [
            {
              "value": "",
              "label": "Natural"
            },
            {
              "value": "heading--one",
              "label": "H1"
            },
            {
              "value": "heading--two",
              "label": "H2"
            },
            {
              "value": "heading--three",
              "label": "H3"
            },
            {
              "value": "heading--four",
              "label": "H4"
            },
            {
              "value": "heading--five",
              "label": "H5"
            },
            {
              "value": "heading--six",
              "label": "H6"
            }
          ],
          "default": ""
        },

        {
          "id": "copy",
          "type": "richtext",
          "label": "Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CTA Chart"
    }
  ]
}
{% endschema %}
