<section class="hero hero--collection hero--{{section.settings.copy_align}}" id="hero--{{ section.id }}">
  {% if section.settings.video != blank %}
    {{
      section.settings.video
      | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, image_size: '1920x'
    }}
  {% else %}
    {% if section.settings.image_mobile != blank %}
      {% assign mobileImage = section.settings.image_mobile %}
    {% else %}
      {% assign mobileImage = section.settings.image %}
    {% endif %}
    {% if section.settings.image != blank %}
      <img
        class="hero__bg"
        src="{{ section.settings.image | image_url: width: 1920, height: 450, crop: 'center' }}"
        srcset="{{ mobileImage | image_url: width: 750, height: 1200, crop: 'center' }} 768w, {{ section.settings.image | image_url: width: 1920, height: 450, crop: 'center' }} 1920w"
        alt=""
      >
    {% endif %}
  {% endif %}
  <div class="hero__copy">
    <div class="container container--xl">
      <div class="inner align--{{ section.settings.copy_align }}">
        <{{ section.settings.heading_level }} class="heading--two">
          {{ collection.title }}
        </{{ section.settings.heading_level }}>
        {% if collection.description != blank %}
          <div class="hero__desc">
            {{ collection.description | strip_html }}
          </div>
        {% endif %}
        <div class="actions actions--desktop d-flex">
          {% for block in section.blocks %}
            <a
              href="{{ block.settings.collection.url }}"
              class="btn btn--white btn--outline-hover btn--sm {% if block.settings.collection.title == collection.title %}btn--active{% endif %}"
            >
              {% if block.settings.title != blank %}
                {{ block.settings.title }}
              {% else %}
                {{ block.settings.collection.title }}
              {% endif %}
            </a>
          {% endfor %}
        </div>
        <div class="actions actions--mobile">
          {% capture col_btns %}
            {% for block in section.blocks %}
                {{ block.settings.collection.title | strip }}{% unless forloop.last == true %},{% endunless %}
            {% endfor  %}
          {% endcapture %}

          {% assign col_array = col_btns | split: ',' %}

          <select>
            <option selected value="/collections/shop-all">Shop All Products</option>
            {% for block in section.blocks %}
              <option
                value="{{ block.settings.collection.url }}"
                {% if block.settings.collection.title == collection.title %}
                  selected
                {% endif %}
              >
                {% if block.settings.title != blank %}
                  {{ block.settings.title }}
                {% else %}
                  {{ block.settings.collection.title }}
                {% endif %}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="arch-wrap">
    <div class="arch-wrap__inner">
      {% comment %} {% render 'hero-arch' %} {% endcomment %}
      <img
        src="{{ 'hero-arc-xl-' | append: section.settings.arch_color | append: '.svg' | asset_url }}"
        alt=""
        class="arc arc--desktop"
      >
      <img
        src="{{ 'hero-arc-xl-' | append: section.settings.arch_color | append: '.svg' | asset_url }}"
        alt=""
        class="arc arc--mobile"
      >
    </div>
  </div>
</section>

{% if section.settings.image_mobile != blank %}
  <style>
    #hero--{{ section.id }} .hero__bg--mobile {
      display: none;
    }

    @media (max-width: 768px) {
     #hero--{{ section.id }} .hero__bg--mobile {
        display: block;
      }

      #hero--{{ section.id }} .hero__bg--desktop {
        display: none;
      }
    }
  </style>
{% endif %}

<script>
  jQuery(document).ready(function ($) {
    $('#hero--{{ section.id }} select').on('change', function () {
      var val = $(this).val();

      window.location = val;
    });
  });
</script>

{% schema %}
{
  "name": "Hero - Collection",
  "settings": [
    {
      "id": "video",
      "type": "video",
      "label": "Video"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Background",
      "info": "Dimensions: 1920 x 450px"
    },
    {
      "id": "image_mobile",
      "type": "image_picker",
      "label": "Background - Mobile",
      "info": "Dimensions: 750 x 1200px"
    },
    {
      "type": "select",
      "id": "copy_align",
      "label": "Copy alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_level",
      "label": "Heading Level",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h1"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "arch_color",
      "label": "Arch Color",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "orange",
          "label": "Orange"
        },
        {
          "value": "pink",
          "label": "Pink"
        }
      ],
      "default": "green"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Collection Button",
      "limit": 6,
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero - Collection"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}
