<section
  id="image-accordions--{{ section.id }}"
  class="image-accordions section-block pad-top--{{  section.settings.padding_top }} pad-bottom--{{  section.settings.padding_bottom }} pad-top__mobile--{{  section.settings.padding_top-mobile }} pad-bottom__mobile--{{  section.settings.padding_bottom-mobile }} background--{{ section.settings.background }}"
>
  {% render 'arch', color: section.settings.background %}
  <div class="container container--xl d-flex justify-between align-center">
    {% if section.settings.title != blank %}
      <div class="image-accordions__heading text-center">
        {% render 'dynamic-heading',
          level: section.settings.heading_level,
          title: section.settings.title,
          classList: section.settings.heading_level_display
        %}
      </div>
    {% endif %}
    {% if section.settings.image_accordion_copy != blank %}
      <style>
        .image-accordions__heading {
          padding-bottom: 20px;
        }
        .image-accordions__copy {
          max-width: 950px;
          margin: 0 auto;
        }
      </style>
      <div class="image-accordions__copy text-center">
        {{ section.settings.image_accordion_copy }}
      </div>
    {% endif %}
    <div class="image-accordions__images">
      {% for block in section.blocks %}
        <div
          class="image"
          id="image-{{forloop.index}}"
          {% unless forloop.first == true %}
            style="display:none"
          {% endunless %}
          {{ block.shopify_attributes }}
        >
          {{ block.settings.image | image_url: width: 700 | image_tag }}
        </div>
      {% endfor %}
    </div>
    <div class="image-accordions__content">
      {% for block in section.blocks %}
        <div {{ block.shopify_attributes }} class="accordion__group {% if forloop.first == true %}active{%endif%}">
          <button class="accordion__heading" data-image="image-{{forloop.index}}">
            {% render 'dynamic-heading',
              level: block.settings.heading_level,
              title: block.settings.title,
              classList: block.settings.heading_level_display
            %}
          </button>
          <div
            class="accordion__copy"
            {% if forloop.first == true %}
              style="display:block;"
            {% endif %}
          >
            {{ block.settings.copy }}

            {% if block.settings.btn_url != blank %}
              <div class="actions">
                <a href="{{ block.settings.btn_url }}" class="btn btn--solid btn--arrow btn--xl">
                  {{ block.settings.btn_copy }}
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% if section.settings['padding_bottom-mobile'] == 'never-going-to-hit'
  or section.settings['padding_top-mobile'] == 'never-going-to-hit'
%}
  <style>
    @media(max-width: 768px) {
      #image-accordions--{{ section.id }} {
        padding-top: {{ section.settings.padding_top-mobile }}px !important;
        padding-bottom: {{ section.settings.padding_bottom-mobile }}px !important;
      }
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Image Accordions",
  "settings": [
    {
      "id": "top_arch",
      "type": "checkbox",
      "label": "Top Arch?"
    },
    {
      "id": "bottom_arch",
      "type": "checkbox",
      "label": "Bottom Arch?"
    },
    {
      "id": "background",
      "type": "select",
      "options": [
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "white",
      "label": "Background Color"
    },
    {
      "id": "padding_top",
      "type": "select",
      "label": "Padding Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom",
      "type": "select",
      "label": "Padding Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_top-mobile",
      "type": "select",
      "label": "Padding Top - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom-mobile",
      "type": "select",
      "label": "Padding Bottom - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "image_accordion_copy",
      "type": "richtext",
      "label": "Copy"
    },
    {
      "type": "select",
      "id": "heading_level",
      "label": "Heading Level",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_level_display",
      "label": "Heading Level - Display",
      "options": [
        {
          "value": "",
          "label": "Natural"
        },
        {
          "value": "heading--one",
          "label": "H1"
        },
        {
          "value": "heading--two",
          "label": "H2"
        },
        {
          "value": "heading--three",
          "label": "H3"
        },
        {
          "value": "heading--four",
          "label": "H4"
        },
        {
          "value": "heading--five",
          "label": "H5"
        },
        {
          "value": "heading--six",
          "label": "H6"
        }
      ],
      "default": "heading--five"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Accordion",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image",
          "info": "1400 x 1400px"
        },
        {
          "type": "select",
          "id": "heading_level",
          "label": "Heading Level",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "select",
          "id": "heading_level_display",
          "label": "Heading Level - Display",
          "options": [
            {
              "value": "",
              "label": "Natural"
            },
            {
              "value": "heading--one",
              "label": "H1"
            },
            {
              "value": "heading--two",
              "label": "H2"
            },
            {
              "value": "heading--three",
              "label": "H3"
            },
            {
              "value": "heading--four",
              "label": "H4"
            },
            {
              "value": "heading--five",
              "label": "H5"
            },
            {
              "value": "heading--six",
              "label": "H6"
            }
          ],
          "default": "heading--five"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "copy",
          "type": "richtext",
          "label": "Copy"
        },
        {
          "id": "btn_url",
          "type": "url",
          "label": "Button URL"
        },
        {
          "id": "btn_copy",
          "type": "text",
          "label": "Button Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Accordions"
    }
  ]
}
{% endschema %}
