<section
  class="image-grid image-grid--external section-block pad-top--{{  section.settings.padding_top }} pad-bottom--{{  section.settings.padding_bottom }} pad-top__mobile--{{  section.settings.padding_top-mobile }} pad-bottom__mobile--{{  section.settings.padding_bottom-mobile }}  background--{{ section.settings.background }}"
  id="image-grid--{{ section.id }}"
>
  {% render 'arch', color: section.settings.background %}
  <div class="container">
    <div class="image-grid__heading d-flex align-center justify-center">
      {% render 'dynamic-heading',
        level: section.settings.heading_level,
        title: section.settings.title,
        classList: section.settings.heading_level_display
      %}
    </div>
    <div class="image-grid__list d-flex justify-center">
      {% for block in section.blocks %}
        <div class="image-block">
          {% if block.settings.url != blank %}
            <a href="{{ block.settings.url }}">
          {% endif %}
          {% unless block.settings.video != blank %}
            <img
              loading="lazy"
              src="{{ block.settings.image | img_url: 'master' }}"
              alt="{{ block.settings.image | escape }}"
            >
          {% endunless %}
          {% if block.settings.video != blank %}
            {{
              block.settings.video
              | video_tag: autoplay: false, loop: false, muted: true, controls: true, image_size: '430x750'
            }}
          {% endif %}
          {% render 'dynamic-heading',
            level: block.settings.heading_level,
            title: block.settings.title,
            classList: block.settings.heading_level_display
          %}
          {% if block.settings.url != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.btn_url != blank and section.settings.btn_copy != blank %}
      <div class="actions d-flex justify-center">
        <a href="{{ section.settings.btn_url }}" class="btn btn--solid btn--arrow">
          {{ section.settings.btn_copy }}
        </a>
      </div>
    {% endif %}
  </div>
</section>

<style>
  #image-grid--{{ section.id }} .image-block {
  width:  calc(100% / {{ section.settings.grid }});
  }
</style>

{% if section.settings['padding_bottom-mobile'] == 'never-going-to-hit'
  or section.settings['padding_top-mobile'] == 'never-going-to-hit'
%}
  <style>
    @media(max-width: 768px) {
      #image-grid--{{ section.id }} {
        padding-top: {{ section.settings.padding_top-mobile }}px !important;
        padding-bottom: {{ section.settings.padding_bottom-mobile }}px !important;
      }
    }
  </style>
{% endif %}
{% schema %}
{
  "name": "Image Grid - External",
  "settings": [
    {
      "id": "top_arch",
      "type": "checkbox",
      "label": "Top Arch?"
    },
    {
      "id": "bottom_arch",
      "type": "checkbox",
      "label": "Bottom Arch?"
    },
    {
      "id": "background",
      "type": "select",
      "options": [
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "white",
      "label": "Background Color"
    },
    {
      "id": "padding_top",
      "type": "select",
      "label": "Padding Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom",
      "type": "select",
      "label": "Padding Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_top-mobile",
      "type": "select",
      "label": "Padding Top - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom-mobile",
      "type": "select",
      "label": "Padding Bottom - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "grid",
      "type": "range",
      "label": "Items Per Row",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "heading_level",
      "label": "Heading Level",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_level_display",
      "label": "Heading Level - Display",
      "options": [
        {
          "value": "",
          "label": "Natural"
        },
        {
          "value": "heading--one",
          "label": "H1"
        },
        {
          "value": "heading--two",
          "label": "H2"
        },
        {
          "value": "heading--three",
          "label": "H3"
        },
        {
          "value": "heading--four",
          "label": "H4"
        },
        {
          "value": "heading--five",
          "label": "H5"
        },
        {
          "value": "heading--six",
          "label": "H6"
        }
      ],
      "default": ""
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "btn_url",
      "type": "url",
      "label": "Button URL"
    },
    {
      "id": "btn_copy",
      "type": "text",
      "label": "Button Copy"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image",
          "info": "Dimensions: 500 x 500px"
        },
        {
          "type": "select",
          "id": "heading_level",
          "label": "Heading Level",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "select",
          "id": "heading_level_display",
          "label": "Heading Level - Display",
          "options": [
            {
              "value": "",
              "label": "Natural"
            },
            {
              "value": "heading--one",
              "label": "H1"
            },
            {
              "value": "heading--two",
              "label": "H2"
            },
            {
              "value": "heading--three",
              "label": "H3"
            },
            {
              "value": "heading--four",
              "label": "H4"
            },
            {
              "value": "heading--five",
              "label": "H5"
            },
            {
              "value": "heading--six",
              "label": "H6"
            }
          ],
          "default": "heading--four"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "url",
          "type": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Grid - External"
    }
  ]
}
{% endschema %}
