<section
  class="page page--default  section-block pad-top--{{  section.settings.padding_top }} pad-bottom--{{  section.settings.padding_bottom }} pad-top__mobile--{{  section.settings.padding_top-mobile }} pad-bottom__mobile--{{  section.settings.padding_bottom-mobile }} background--{{ section.settings.background }}"
  id="page-default--{{ section.id }}"
>
  {% render 'arch', color: section.settings.background %}
  <div class="container">
    <div class="page__heading text-center">
      <h1>
        {{ page.title }}
      </h1>
    </div>
    <div class="page__content">
      {{ page.content }}
    </div>
  </div>
</section>
{% if section.settings['padding_bottom-mobile'] == 'never-going-to-hit'
  or section.settings['padding_top-mobile'] == 'never-going-to-hit'
%}
  <style>
    @media(max-width: 768px) {
      #quote-slider--{{ section.id }} {
        padding-top: {{ section.settings.padding_top-mobile }}px !important;
        padding-bottom: {{ section.settings.padding_bottom-mobile }}px !important;
      }
    }
  </style>
{% endif %}
{% schema %}
{
  "name": "Quote Slider",
  "settings": [
    {
      "id": "top_arch",
      "type": "checkbox",
      "label": "Top Arch?"
    },
    {
      "id": "bottom_arch",
      "type": "checkbox",
      "label": "Bottom Arch?"
    },
    {
      "id": "background",
      "type": "select",
      "options": [
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "tan",
      "label": "Background Color"
    },
    {
      "id": "padding_top",
      "type": "select",
      "label": "Padding Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom",
      "type": "select",
      "label": "Padding Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_top-mobile",
      "type": "select",
      "label": "Padding Top - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom-mobile",
      "type": "select",
      "label": "Padding Bottom - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    }
  ],

  "presets": [
    {
      "name": "Page Content"
    }
  ]
}
{% endschema %}
