<section
  class="video-banner section-block pad-top--{{  section.settings.padding_top }} pad-bottom--{{  section.settings.padding_bottom }} pad-top__mobile--{{  section.settings.padding_top-mobile }} pad-bottom__mobile--{{  section.settings.padding_bottom-mobile }} background--{{ section.settings.background }}"
  id="video-banner--{{ section.id }}"
>
  {% render 'arch', color: section.settings.background %}
  <div class="container">
    <div class="iframe-wrap">
      {%- if section.settings.video.type == 'youtube' -%}
        <iframe
          src="https://www.youtube.com/embed/{{ section.settings.video.id }}"
          class="youtube"
          allow="autoplay; encrypted-media"
          title=""
        ></iframe>
      {%- else -%}
        <iframe
          src="https://player.vimeo.com/video/{{ section.settings.video.id }}"
          class="vimeo"
          allow="autoplay; encrypted-media"
          title="Video Content"
        ></iframe>
      {%- endif -%}
    </div>
  </div>
</section>
{% if section.settings['padding_bottom-mobile'] == 'never-going-to-hit'
  or section.settings['padding_top-mobile'] == 'never-going-to-hit'
%}
  <style>
    @media(max-width: 768px) {
      #video-banner--{{ section.id }} {
        padding-top: {{ section.settings.padding_top-mobile }}px !important;
        padding-bottom: {{ section.settings.padding_bottom-mobile }}px !important;
      }
    }
  </style>
{% endif %}
{%- if section.settings.video.type == 'youtube' -%}
  <script>
    async function fetchYouTubeTitle(videoUrl) {
      const response = await fetch(`https://www.youtube.com/oembed?url=${videoUrl}&format=json`);
      const data = await response.json();
      document.querySelector('#video-banner--{{ section.id }} iframe').setAttribute('title', data.title);
    }

    fetchYouTubeTitle('https://www.youtube.com/watch?v={{ section.settings.video.id }}');
  </script>
{% else %}
  <script>
    async function fetchVimeoTitle(videoUrl) {
      const response = await fetch(`https://vimeo.com/api/oembed.json?url=${encodeURIComponent(videoUrl)}`);
      const data = await response.json();
      document.querySelector('#video-banner--{{ section.id }} iframe').setAttribute('title', data.title);
    }

    // Replace this with your Vimeo video URL
    fetchVimeoTitle('https://vimeo.com/{{ section.settings.video.id }}');
  </script>
{% endif %}

{% schema %}
{
  "name": "Video Banner",
  "settings": [
    {
      "id": "top_arch",
      "type": "checkbox",
      "label": "Top Arch?"
    },
    {
      "id": "bottom_arch",
      "type": "checkbox",
      "label": "Bottom Arch?"
    },
    {
      "id": "background",
      "type": "select",
      "options": [
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "white",
      "label": "Background Color"
    },
    {
      "id": "padding_top",
      "type": "select",
      "label": "Padding Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom",
      "type": "select",
      "label": "Padding Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_top-mobile",
      "type": "select",
      "label": "Padding Top - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "id": "padding_bottom-mobile",
      "type": "select",
      "label": "Padding Bottom - Mobile",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "xs",
          "label": "XS"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "md"
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "Video",
      "accept": ["youtube", "vimeo"]
    }
  ],

  "presets": [
    {
      "name": "Video Banner"
    }
  ]
}
{% endschema %}
